:root {
  --card-footer-color-hover: rgb(245, 101, 101);
  --card-footer-bordercolor: #c2c2c2ec;
  --card-footer-color-active: #737373;
  --card-footer-color-ul: rgb(0, 0, 255);
  --card-footer-color: #ffffff;
}

.pagination {
  float: left;
  margin: 8px auto;
  display: flex;
  list-style: none;
  outline: none;
}

.pagination>li>a {
  padding: 8px;
  outline: none;
  cursor: pointer;
  font-size: 13px;
}

.card-footer {
  background-color: var(--card-footer-color);
  margin: 0px 20px 20px 20px;
}

.card-footer>ul {
  display: flex;
}

.card-footer>ul>li {
  border: 1px solid var(--card-footer-bordercolor);
  padding: 3px;
  color: var(--card-footer-color-ul);
  cursor: pointer;
}

.card-footer>ul>li:hover {
  color: var(--card-footer-color-hover);
}

.card-footer>ul>li:active {
  border-color: var(--card-footer-color-active)
}