:root {
  --grid-border-color: #E8E8E8;
  --border-bottom-item: rgb(15, 15, 15);
  --item-color: #737373;
}

.grid-block {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border-top: 1px solid var(--grid-border-color);
  width: auto;
}

.grid-block__item {
  border-bottom: var(--border-bottom-item);
  padding-top: 5px;
  padding-left: 6px;
  padding-right: 8px;
  font-size: 13.5px;
  color: var(--item-color)
}

.profile-block {
  display: flex;
  align-items: center;
}

.profile-block-text {
  font-size: 12px;
  color: var(--item-color)
}

.options::after {
  content: '\2807';
  font-size: 16px;
  padding-top: 5px;
  align-items: center;
}

.profile-block-image {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.emailid-padding {
  padding-top: 5px;
  padding-right: 10px;
  font-size: 13.5px;
  color: var(--item-color)
}