:root {
  --subheading-color: #ffffff;
  --subheading-border-color: rgb(179 179 179);
  --subheading-font-color: #737373;
  --content-color: #E8E8E8;
}

.emp-header {
  background-color: var(--subheading-color);
  border-bottom: 1px solid var(--subheading-border-color);
}

.emp-font {
  font-size: 16px;
  text-transform: uppercase;
  color: var(--subheading-font-color);
  margin: 20px;
}

.emp-block2 {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: var(--subheading-color);
  border-bottom: 1px solid var(--subheading-border-color);
}

.emp-block {
  display: flex;
  flex-direction: column;
  background-color: var(--content-color);
}

.item {
  display: grid;
  background-color: var(--content-color);
  padding: 15px;
  width: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

ul {
  padding-left: 20px;
  padding-right: 20px;
}

.grid-data {
  color: #7c7979;
  font-size: 13px;
  padding-left: 5px;
}