:root {
  --link-active-focus: rgb(255, 0, 0);
  --navbar-color: rgb(255, 255, 255);
}

.navigation-bar {
  background-color: var(--navbar-color);
  display: flex;
  gap: 20px;
}

.list {
  display: flex;
  font-size: 15px;
  color: #737373;
  text-Decoration: none;
  transition: all 0.4s ease-in-out;
}

ul>li {
  display: flex;
}

a:active {
  color: var(--link-active-focus)
}

a:focus {
  color: var(--link-active-focus)
}

a:hover {
  color: #737373;
}